
.form{
    width: 79%;
    text-align: center;
    position: absolute;
    left: 4rem;
    top: 13rem;
    padding: 4rem;
    border: 0.2rem solid #60abec;
}
.form-body{
    text-align: center;
}

.submit{
    text-align: center;
}

.submit_button{
    font-family: monospace;
    font-size: 1.5rem;
    border: 2px solid #4949eb;
    border-radius: 7px;
    background-color: #2196f3;
    color: #ffffff;
    width: 70%;
    position: absolute;
    top: 21rem;
    left: 8rem;
}

.btn:disabled,
.btn[disabled]{
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.form_text{
    margin: auto;
    float: left;
    width: 74%;
    font-size: 1.5rem;

}

.input_text{
    width: 100%;
    font-family: cursive;
    float: left;
    height: 3rem;

}

.err{
    font-size: smaller;
    color: rgb(231, 22, 22);
}



.formTable{
  width: 80%;
  margin: auto;
  padding: 1% 1%;
}

.mandate{
    font-size: 0.9rem;
    color: rgb(83, 4, 4);
    position: absolute;
    top: 1rem;
    left: 40rem;
}

.soul{
position: absolute;
left: 12rem;
top: 7rem;
color: #2196f3;
font-size: 2rem;
}
.soul_1{
    position: absolute;
    left: 12rem;
    top: 15rem;
    color: #2196f3;
    font-size: 2rem;
    }

.border {
    position: absolute;
    width: 53rem;
    height: 0.1rem;
    background: #2196E6;
    left: 11rem;
    top: 10rem;
}
.a{
    color: red;
}

.soul span{
    color: #5093f9;
}
.sign_up{
    position: absolute;
    top: 1rem;
    left: 29rem;
    font-size: 2rem;
    color: #60abec;
    font-weight: bold;
}
